params {
    fhir_dir        = "$baseDir/data/JSON" 
    reference       = "$baseDir/data/H37Rv.fasta"
    results_dir     = System.getenv('PIPELINE_RESULTS_DIR') ?: "$baseDir/results"
    version         = "1.0.1"
    snp_threshold   = 12
    fhir_server_url  = System.getenv('FHIR_SERVER_URL') ?: ""
    fhir_server_auth = System.getenv('FHIR_API_KEY') ?: ""
    fetch_since      = System.getenv('FHIR_FETCH_SINCE') ?: "2025-12-25"
    fhir_oauth_token_url = System.getenv('FHIR_OAUTH_TOKEN_URL') ?: ""
    fhir_client_id       = System.getenv('FHIR_CLIENT_ID') ?: ""
    fhir_client_secret   = System.getenv('FHIR_CLIENT_SECRET') ?: ""
    fhir_scope           = System.getenv('FHIR_SCOPE') ?: "openid"
    augur_tree_method    = System.getenv('AUGUR_TREE_METHOD') ?: "fasttree"
    augur_enable_timetree = System.getenv('AUGUR_ENABLE_TIMETREE') ?: "false"
}

process {
    errorStrategy = 'terminate'
}

report {
    enabled = true
    file = "$baseDir/results/runningstat/execution.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "$baseDir/results/runningstat/timeline.html"
    overwrite = true
}

dag {
    enabled = true
    file = "$baseDir/results/runningstat/dag.html"
    overwrite = true
}
